.back {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.back span {
  font-size: 20px;
  color: white;
  font-weight: 300;
  transition: 0.2s ease;
}

.back span:hover {
  color: #e50914;
  transform: translateX(-3px);
}
