.hero {
    position: relative;
    height: 75vh; 
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    
   
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}


.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.1));
  z-index: 1;
}


.hero-caption {
  position: absolute;
  bottom: 3%;
  left: 5%;
  z-index: 2;
  max-width: 500px;
  color: white;
}


.caption-img {
  width: 350px;
  margin-bottom: 1rem;
}

/* Bottoni */
.hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
    margin-top: 30px;    
}


.btn {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .7rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
}

.btn img {
  width: 20px;
}

.btn:hover {
  opacity: 0.8;
}

.dark-btn {
  background-color: #6d6d6eb3;
  color: white;
}

.btn:not(.dark-btn) {
  background-color: white;
  color: black;
}
