

.detail-page {
  padding: 40px;
  color: white;
}

.back-btn {
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.detail-backdrop {
  width: 100%;
  height: 55vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.detail-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.detail-info {
  opacity: 0.8;
  margin-bottom: 20px;
  font-size: 18px;
}

.detail-overview {
  max-width: 800px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.detail-trailer iframe {
  width: 800px;
  height: 450px;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
}



.detail-cast,
.similar-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  scroll-behavior: smooth;


  scrollbar-width: none;
}


.detail-cast::-webkit-scrollbar,
.similar-list::-webkit-scrollbar {
  display: none;
}



.cast-card img {
  width: 120px;
  border-radius: 8px;
}

.cast-card p {
  margin-top: 6px;
  font-weight: bold;
}

.cast-card small {
  opacity: 0.7;
}



.similar-card img {
  width: 180px;
  border-radius: 8px;
}

.similar-card {
  text-decoration: none;
  color: white;
}
