.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 12px;
  color: white;
  font-size: 22px;
}

/* LISTA CARDS */
.card-list {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  flex-shrink: 0;
}

.card img {
  width: 240px;
  border-radius: 10px;
  transition: 0.25s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 15px;
  text-shadow: 0 0 5px black;
}

/* CERCHIETTO NERO */
.fav-circle {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s ease;
}

.fav-circle:hover {
  transform: scale(1.15);
}


.heart-svg {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
  transition: 0.25s ease;
}


.heart-svg.active {
  fill: white;
  stroke: white;
}
